extends default

block content
    .date-bar
            p#current-date
            .streak-bar
                p Streak:
                p#day-streaks
    .title
    #markdown-editor(contenteditable="true")
    .number-of-words
    .number-of-characters
    .previous-notes-container
        //- inside of the previous notes container is the notes from previous dates
        //- the app will list all of the notes
        //- TODO: create a search bar for thats