doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        include ../include/head.pug
    body
        include ../include/header.pug
        main
            block content
        include ../include/footer.pug
        include ../include/scripts.pug