.wrapper {
    margin: 0 auto;
    max-width: $max-width;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $on-tablet) {
        flex-flow: column;

        > * {margin: 0; margin-bottom: $base-margin-width/2;}
        > *:first-child {margin-top: $base-margin-width/2;}
    }
}

.main {width: 95%;}

.header-navbar {
    > * {margin: 0 $base-margin-width;}
}

.header-appname {
    font-size: 1.5em;

    > * {text-decoration: none;}
}

.header-icon {
    height: 1em;
    width: 1em;
}

.number-counter {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: $on-tablet) {
        flex-flow: column wrap;
    }
}

.social-links {
    > * {margin: 0 $base-margin-width;}
}

.social-icons {
    width: 32px;
    height: 32px;
    fill: black;
}

#markdown-editor {
    border: $base-border-style;
    height: 10em;
    padding: 5px;
    overflow: auto;
    resize: none;

    &:focus {
        background: whitesmoke;
    }
}

#markdown-preview {
    border: $base-border-style;
    height: 10em;
    padding: 5px;
    overflow: auto;

    > *:first-child {margin-top: 0;}
}

.display {display: block;}
.no-display {display: none;}
