@font-face {
    font-family: "TeX Gyre Schola";
    src: url("../fonts/TeXGyreSchola-Regular.eot") format("eot"),
    url("../fonts/TeXGyreSchola-Regular.otf") format("otf"),
    url("../fonts/TeXGyreSchola-Regular.ttf") format("ttf"),
    url("../fonts/TeXGyreSchola-Regular.woff") format("woff");
}

@font-face {
    font-family: "TeX Gyre Schola";
    src: url("../fonts/TeXGyreSchola-Italic.eot") format("eot"),
    url("../fonts/TeXGyreSchola-Italic.otf") format("otf"),
    url("../fonts/TeXGyreSchola-Italic.ttf") format("ttf"),
    url("../fonts/TeXGyreSchola-Italic.woff") format("woff");
    font-style: italic;
}

$graph-paper-background: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b0ffb4' fill-opacity='0.79'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"; 

$brand-color-1: #5998c5;
$brand-color-1-light: lighten($brand-color-1, 15%);
$brand-color-1-dark: darken($brand-color-1, 15%);

$brand-color-2: #cfffb0;
$brand-color-2-light: lighten($brand-color-2, 15%);
$brand-color-2-dark: darken($brand-color-2, 15%);

$brand-color-3: #fff689;
$brand-color-3-light: lighten($brand-color-3, 15%);
$brand-color-3-dark: darken($brand-color-3, 15%);

$base-margin-width: 20px;
$base-font-size: 18px;
$base-font-family: "TeX Gyre Schola", "Georgia", "Times", serif;
$base-border-style: 2px black solid;

$on-tablet: 750px;
$on-phone: 550px;

$max-width: 850px;

$previous-note-width: 450px;

@import
    "base",
    "layout"
;