footer
    .wrapper.footer
        p #{new Date().getFullYear()} © #[a(href=app_configuration.author_link) #{app_configuration.author}]
        if Object.keys(app_configuration.author_social_links).length > 0
            .social-links
                each value, key in app_configuration.author_social_links
                    a(href=value, target="_blank")
                        svg.social-icons
                            use(xlink:href="/img/author-social-icons.svg#" + key)
