header
    .wrapper.header
        p.header-appname #[a(href=app_configuration.app_routes.home) #{app_configuration.app_name}] 
        .header-navbar
            a(href=app_configuration.app_routes.app) App
            a(href=app_configuration.app_routes.settings) Settings
